.checkers-board {
    border: 1px solid green;
    margin: auto;
}

.checkers-man {
    width: 70px;
    height: 70px;
    border: 2px solid wheat;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* .checkers-man div {
    text-align: center;
} */


.one {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: cornsilk;
    margin: auto;
}

.two {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(92, 86, 86);
    margin: auto
}

.even {
    background-color: lightsalmon;
}

.valid-move {
    opacity: 0.7;
}